/* Colors */
$color-black: #000;
$color-grey: #222;
$color-white: #fafafa;
$background-main: #202039;
$background-header-footer: rgb(20, 20, 48);

/* Header */
$header-height: 48px;

/* Footer */
$footer-height: 128px;

/* Main */
$main-height: calc(100vh - ($header-height + $footer-height));

/* Miscelanea */
$top-image-form: 2em;
$number-cards-home: 6;
