@use './consts/variables';

.container {
  display: flex;
  flex-direction: column;
  height: variables.$main-height;
  max-width: 800px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 248px;
  justify-content: center;
  align-items: flex-end;
  gap: 0 2rem;
  padding: 2rem 2rem 1rem;
}

.title {
  padding-top: variables.$top-image-form;
  margin-top: 0;
  color: #c1ff00;
}

.search {
  text-align: center;
}
