@use './consts/variables' as c;
@use './components';
@use './layout';
@use './pages';

:root {
  --color-black: #{c.$color-black};
  --color-grey: #{c.$color-grey};
  --color-white: #{c.$color-white};
  --background-main: #{c.$background-main};
  --background-header-footer: #{c.$background-header-footer};
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    & {
      scroll-behavior: auto;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: c.$header-height - 1rem;
}
