@use './consts/variables' as c;
@use './components';
@use './layout';

:root {
  --color-black: #{c.$color-black};
  --color-grey: #{c.$color-grey};
  --color-white: #{c.$color-white};
  --background-main: #{c.$background-main};
  --background-header-footer: #{c.$background-header-footer};
}

html,
body {
  min-width: 300px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-width: 300px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  height: auto;
  width: c.$header-height - 16px;
  margin-left: 2em;
}
