.resultsSearch {
  display: grid;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem 4rem;

  &__form {
    max-width: 300px;
    margin-bottom: 2rem;
    justify-self: center;
  }

  &__results {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 2rem;
  }

  &_error {
    justify-content: center;
    margin: 0;
  }

  &__imgError {
    max-width: 21.88rem;
    height: auto;
    margin: 0 auto;
  }

  &__textError {
    text-align: center;
    color: var(--color-white);
    font-size: 2rem;
  }
}
